{% load static %} 

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Grupo Fraternal Maria Julia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <img src="{% static 'logo.jpeg' %}" alt="Logo" style="height: auto; max-height: 100px;">
                </div>
            </div>
        </div>
    </nav>

    {% block conteudo %}
    {% endblock %}

    <footer class="bg-light text-center text-lg-start mt-5">
    <div class="container py-1 px-2">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-2">
            <h6 class="text-uppercase mb-1">Grupo Fraternal Maria Julia</h6>
            <p class="mb-1 small">
                Atuando desde 1993 em prol de quem mais precisa.
                Solidariedade, empatia e amor ao próximo.
            </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-2">
            <h6 class="text-uppercase mb-1">Links úteis</h6>
            <ul class="list-unstyled mb-1 small">
                <li><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                <li><a href="{% url 'cadastro' %}" class="text-dark">Cadastro</a></li>
            </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-2">
            <h6 class="text-uppercase mb-1">Contato</h6>
            <ul class="list-unstyled mb-1 small">
                <li><span class="text-dark">Email: grupofraternalmariajulia@hotmail.com.br</span></li>
                <li><span class="text-dark">Telefone: (11) 94485-4234</span></li>
            </ul>
            </div>
        </div>
    </div>


        <div class="text-center p-2 bg-dark text-white">
            © 2025 Grupo Fraternal Maria Julia. Todos os direitos reservados.
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>