{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Faça seu Cadastro</h1>
            <p class="text-center mb-4">Preencha os campos abaixo para se juntar ao nosso grupo fraternal.</p>
            <div class="row">
                <div class="col-md-6">
                    <form action="{% url 'cadastro' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="input_name" class="form-label">Nome</label>
                            <input name="nome" type="text" class="form-control form-control-sm" id="input_name">
                        </div>
                        <div class="mb-3">
                            <label for="input_years_old" class="form-label">Idade</label>
                            <input name="idade" type="number" class="form-control form-control-sm" id="input_years_old">
                        </div>
                        <div class="mb-3">
                            <label for="input_email" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control form-control-sm" id="input_email" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensagem (Opcional)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensagem"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="{% static 'representacao.jpeg' %}" alt="Imagem de Cadastro" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
