{% extends 'base.html' %}
<!-- carregando imagens -->
{% load static %} 

{% block conteudo %}
<div class="container my-5">
    <div class="row justify-content-center">
    <!-- Coluna de Texto -->
    <div class="col-md-6">
        <h1 class="text-center">Bem-vindo ao Grupo Fraternal Maria Julia</h1>
        <p class="text-center">A história começou em 1993, com muita simplicidade, ao entregar a primeira cesta arrecadada entre amigos de um escritório. Logo no primeiro Natal, após essa entrega, decidiram trocar presentes por novas experiências. Essa primeira ação foi marcada por diversas situações comoventes, envolvendo pessoas sem esperança ou perspectiva de uma vida melhor.
        Diante disso, a Sra. Roseli Francolin Sampietro deu início a esse trabalho, juntamente com alguns vizinhos que abraçaram a causa de alma e coração. Em 2025, a ONG completa 32 anos de existência, atuando em prol do coletivo, com o apoio de muitos voluntários que, com dedicação e empatia, colocam suas responsabilidades diárias em segundo plano para ajudar os menos afortunados.</p>
    </div>
    
    <!-- Coluna de Imagem -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{% static 'representacao_3.jpeg' %}" class="img-fluid" alt="Imagem">
    </div>
    </div>
</div>
{% endblock %}